body {
  background: papayawhip;
}

* {
  border: 1px solid red;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}


.c, .d, .e {
  flex-wrap: wrap;
}




@media (min-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
}

